## data.table
 
<img src="https://www.autoguide.com/blog/wp-content/gallery/2018-lamborghini-aventador-s-roadster/Lamborghini-Aventador-S-Roadster-3.jpg" title="Lamborghini Aventador S Roadster" />

<br><br><br><br>
# Create a simple table

In [10]:
library(data.table)

# A simple data table
DT <- data.table(MemberID = 1:4,
                 FirstName = c('Alice', 'Brad', 'Chris', 'Donna'),
                 LastName = c('Allen', 'Boyle', 'Coen', 'Davis'),
                 DateJoined = as.Date(c('2017-03-25', '2019-11-04', '2018-09-02', '2017-02-12')),
                 Position = factor(c('Organizer', 'Organizer', 'Director', 'Treasurer')))
DT

# Display DT column classes
print('DT column classes:')
sapply(DT, class)

  MemberID FirstName LastName DateJoined Position
1 1        Alice     Allen    2017-03-25 Organizer
2 2        Brad      Boyle    2019-11-04 Organizer
3 3        Chris     Coen     2018-09-02 Director
4 4        Donna     Davis    2017-02-12 Treasurer

[1] "DT column classes:"

   MemberID   FirstName    LastName  DateJoined    Position
  "integer" "character" "character"      "Date"    "factor"

In [9]:
# A simple data frame
DF <- data.frame(MemberID = 1:4,
                 FirstName = c('Alice', 'Brad', 'Chris', 'Donna'),
                 LastName = c('Allen', 'Boyle', 'Coen', 'Davis'),
                 DateJoined = as.Date(c('2017-03-25', '2019-11-04', '2018-09-02', '2017-02-12')),
                 Position = factor(c('Organizer', 'Organizer', 'Director', 'Treasurer')))
DF

# Display DF column classes
print('DF column classes:')
sapply(DF, class)

  MemberID FirstName LastName DateJoined Position
1 1        Alice     Allen    2017-03-25 Organizer
2 2        Brad      Boyle    2019-11-04 Organizer
3 3        Chris     Coen     2018-09-02 Director
4 4        Donna     Davis    2017-02-12 Treasurer

[1] "DF column classes:"

  MemberID  FirstName   LastName DateJoined   Position
 "integer"   "factor"   "factor"     "Date"   "factor"

In [8]:

General syntax:  DT[i, j, by]

[1] "1" "2" "3"

[1] "1" "2" "3"

In [12]:
risk.dt <- fread('https://data.cdc.gov/api/views/4ny5-qn3w/rows.csv')
risk.dt[,.N]

[1] 85800

In [13]:
names(risk.dt)

 [1] "Year"                       "LocationAbbr"
 [3] "LocationDesc"               "Datasource"
 [5] "PriorityArea1"              "PriorityArea2"
 [7] "PriorityArea3"              "PriorityArea4"
 [9] "Category"                   "Topic"
[11] "Indicator"                  "Data_Value_Type"
[13] "Data_Value_Unit"            "Data_Value"
[15] "Data_Value_Alt"             "Data_Value_Footnote_Symbol"
[17] "Data_Value_Footnote"        "Confidence_Limit_Low"
[19] "Confidence_Limit_High"      "Break_Out_Category"
[21] "Break_out"                  "CategoryID"
[23] "TopicID"                    "IndicatorID"
[25] "Data_Value_TypeID"          "BreakoutCategoryID"
[27] "BreakOutID"                 "LocationID"
[29] "GeoLocation"